body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: lightgray;
    flex-wrap: wrap;
}

header div {
    width: 375px;
    display: flex;
    align-items: center;
}

header div > * {
    margin: 0;
    margin-left: 10px;
    flex-shrink: 0;
}

nav {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
}

nav > * {
    margin-right: 5px;
    margin-left: 5px;
}

a {
    text-underline-offset: 3px;
    color: #4086db;
}

a:hover, a:visited:hover {
    color: #8840db;
}

a:visited {
    color: #6257e3;
}

header a, .button {
    text-decoration: none;
    color: #6257e3;
    border: 2px solid;
    padding: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

header a:hover, .button:hover {
    background-color: #e7c0f2;
}

.selected {
    color: #408bdb;
}

main {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.strong {
    font-weight: 800;
    font-size: xx-large;
}

.h2 {
    display: flex;
    align-items: end;
    height: 200px;
    padding: 30px;
}

h2 {
    margin: 0;
}

.tags > * {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 3px solid;
    border-color: gray;
    background-color: lightgray;
}